.animate-enter {
	animation: enter-blur-slide 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;
}

.custom-input {
	transition: all 0.2s ease;
}
.custom-input:focus {
	box-shadow:
		0 0 0 1px #6366f1,
		0 0 0 4px rgba(99, 102, 241, 0.15);
}

/* TODO: Find a better approach to do this, may inside the component by changing the icon it self */
.custom-checkbox:checked {
	background-color: #6366f1;
	border-color: #6366f1;
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* Stepper Specific Transitions */
.step-circle {
	transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.step-line-fill {
	transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.step-text {
	transition: color 0.4s ease;
}

@keyframes enter-blur-slide {
	0% {
		opacity: 0;
		transform: translateY(12px) scale(0.98);
		filter: blur(4px);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
		filter: blur(0);
	}
}
