name: Publish Docker Image to GHCR

on:
  push:
    branches:
      - 'main'
      # - 'develop'

permissions:
  contents: read
  packages: write
  security-events: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set short git SHA
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        run: |
          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "TAG=prod" >> $GITHUB_ENV
          else
            echo "TAG=staging" >> $GITHUB_ENV
          fi
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VITE_APP_SERVER_URL=${{ secrets.VITE_APP_SERVER_URL }}
            VITE_PUBLIC_POSTHOG_KEY=${{ secrets.VITE_PUBLIC_POSTHOG_KEY }}
            VITE_PUBLIC_POSTHOG_HOST=${{ secrets.VITE_PUBLIC_POSTHOG_HOST }}
          tags: |
            ghcr.io/lopesboa/menubao-marketing:${{ env.TAG }}
            ghcr.io/lopesboa/menubao-marketing:sha-${{ env.SHORT_SHA }}
            local-trivy-scan:latest

      - name: Run Trivy image scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "image"
          image-ref: "local-trivy-scan:latest"
          format: "sarif"
          output: "trivy-image-results.sarif"
          severity: "CRITICAL,HIGH"
          exit-code: "1"

      - name: Upload image scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-image-results.sarif"
          category: "DockerImage"

      - name: Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            VITE_APP_SERVER_URL=${{ secrets.VITE_APP_SERVER_URL }}
            VITE_PUBLIC_POSTHOG_KEY=${{ secrets.VITE_PUBLIC_POSTHOG_KEY }}
            VITE_PUBLIC_POSTHOG_HOST=${{ secrets.VITE_PUBLIC_POSTHOG_HOST }}
          tags: |
            ghcr.io/lopesboa/menubao-marketing:${{ env.TAG }}
            ghcr.io/lopesboa/menubao-marketing:sha-${{ env.SHORT_SHA }}